pipeline/LogFileAppendOrNEW.json
{
	"name": "LogFileAppendOrNEW",
	"properties": {
		"activities": [
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "logFileName",
					"value": {
						"value": "@concat(formatDateTime(utcnow(),'yyyy-mm-dd'),'_log.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_logfile",
						"type": "DatasetReference",
						"parameters": {
							"logfilename": {
								"value": "@variables('logFileName')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "LogExecutionInFIle",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "LogExecutionInFIle",
									"type": "DataFlowReference",
									"parameters": {
										"adfName": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"pipelineName": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"runID": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"triggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"logFileName": {
											"value": "'@{variables('logFileName')}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "LogExecutionInFIle_append",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "LogExecutionInFIle_append",
									"type": "DataFlowReference",
									"parameters": {
										"adfName": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"pipelineName": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"runID": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"triggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"logFileName": {
											"value": "'@{variables('logFileName')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"LogFIle": {
											"logfilename": {
												"value": "@variables('logFileName')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"variables": {
			"logFileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}